<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.mycat.epx.dao.mapper.CartMapper">
  <resultMap id="BaseResultMap" type="io.mycat.epx.entity.Cart">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userId" jdbcType="BIGINT" property="userid" />
    <result column="cartKey" jdbcType="VARCHAR" property="cartkey" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
  </resultMap>
</mapper>