<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.mycat.epx.dao.mapper.DepositMapper">
  <resultMap id="BaseResultMap" type="io.mycat.epx.entity.Deposit">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="credit" jdbcType="DECIMAL" property="credit" />
    <result column="debit" jdbcType="DECIMAL" property="debit" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="payment_id" jdbcType="BIGINT" property="paymentId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>
</mapper>