<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.mycat.epx.dao.mapper.ProductSpecificationValueMapper" >
  <resultMap id="BaseResultMap" type="io.mycat.epx.entity.ProductSpecificationValue" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="products" property="products" jdbcType="BIGINT" />
    <id column="specification_values" property="specificationValues" jdbcType="BIGINT" />
  </resultMap>
</mapper>